/* Minimal white theme for UniScan PC Agent */

Form {
  background-color: #ffffff;
  color: #111111;
}

Label {
  color: #111111;
}

TextBox {
  background-color: #ffffff;
  color: #111111;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 1;
}

Button {
  background-color: #ffffff;
  color: #111111;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 1;
}

ListBox {
  background-color: #ffffff;
  color: #111111;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 1;
}

TabControl {
  background-color: #ffffff;
  color: #111111;
}

